
form{
	width:25%;
	border:1px solid #ccc;
	margin:20px;
	padding:20px;

}
label{
	font-size:12px;
	display:block;
	width:100%;
}

input, textarea{
	margin-bottom:20px;
	width:100%;
	padding:10px;
	box-sizing:border-box;
	border:1px solid #ccc;
	}
input:focus ,textarea:focus{
	border:1px solid #91285F;
}
#mensaje{
	resize:vertical;
	max-height:300px;
	min-height:100px;
}
.btn:hover{
	background:#98C5D8;
	cursor:pointer;
}
.btn{
	
}
input[type="submit"]{
	margin-bottom:0;
	border-radius:5px;
	background:#2A95C3;
	border:none;
}



label{
	font-family:verdana;
}



div{
	background:#ccc;
	padding-bottom:0px;
}




footer {

margin:0;
text-align:center;
float:left;
margin:auto;
overflow:hidden;
}


/* .move{ */
	/* text-align:center; */

/* } */
/* .menu{ */
	/* width:100%; */
	/* background:#000; */
	/* list-style:none; */
	/* margin:0; */
	/* padding:0; */
	
/* } */
/* .menu li{ */
	/* display:inline-block; */

	/* float:both; */
/* } */
/* .menu li a{ */
	
	/* padding:10px 20px; */
	/* display:block; */
	/* color:#fff; */
	

	
/* } */
/* .menu li a:hover{            */
/* background:#ccc; */
/* color:#000; */
/* } */
/* a{ */
	/* font-size:20px; */
	/* color:azul; */
	/* text-decoration:none; */
	/* margin:10px 20px 10px 0px; */
	
/* } *//* 
.contenedor{
	width:100%; */

/* } */
/* img{ */
	/* width:100%; */
	/* border-radius:10px; */
/* padding:10px; */
/* border:2px solid #ccc; */
/* } */

/* /* body{ */
	/* background:url(royal.jpg); */
	
	/* color:#7A6864; */
/* } */
/* *{ */
	/* /* padding:0; */
	/* margin:0; */ 
/* } */
/* h2{ */
	/* color:#2A130E; */
	/* font-size:25px; */
/* } */
/* p{ */
	/* font-size:14px; */
	/* color:black; */
/* } */
/* a{ */
	/* color :black; */
/* } */ 